@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Sacramento&display=swap');


/* GENERAL */

body {
  margin: 0;
  font-family: Manrope;
  color: #1a1a1a;
  background-color: #EDE7D9;
  font-size: 1.5em;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* overflow-x: hidden; ✅ Bloquea solo scroll horizontal */
}

/* -- PRINCIPAL -- */

.fondo-imgs {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.img-fondo {
  position: absolute;
  width: 250px; /* o el tamaño que quieras en pantalla */
  opacity: 1;
  animation: flotar 30s infinite ease-in-out;
  transform-origin: center;
}

/* Posiciones iniciales distintas para cada imagen */
.img-fondo.uno {
  top: 24%;
  left: 19%;
  animation-delay: 0s;
}

.img-fondo.dos {
  top: 44%;
  left: 60%;
  animation-delay: 2s;
}

/* Responsive */
@media (max-width: 768px) {
  .img-fondo {
  position: absolute;
  width: 150px; /* o el tamaño que quieras en pantalla */
  opacity: 1;
  animation: flotar 30s infinite ease-in-out;
  transform-origin: center;
}

/* Posiciones iniciales distintas para cada imagen */
.img-fondo.uno {
  top: 24%;
  left: 19%;
  animation-delay: 0s;
}

.img-fondo.dos {
  top: 44%;
  left: 60%;
  animation-delay: 2s;
}
}

/* Animación sutil de rotación y movimiento */
@keyframes flotar {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(50px, -50px) rotate(40deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* Asegura que el contenido esté por encima */
main, header, footer {
  position: relative;
  z-index: 1;
}


.index {
  /* background-image: url("img/IMG_0106.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* MENÚ */

a {
  text-decoration: none;
  color: #A42F25;
  font-weight: 500;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  justify-content: space-between;
}



.logo {
  padding-left: 1.5em;

}

.logo a {
  font-weight: 500;
  transition: font-weight 0.2s ease;
}

.logo a:hover {
  font-weight: 600;
}

.paginas {
  padding-right: 1.5em;
}

.paginas ul {
  list-style: none;
  display: flex;
  gap: 50px;
  width: fit-content;
}

.paginas a {
  font-weight: 500;
  transition: font-weight 0.2s ease;
}

.paginas a:hover {
  font-weight: 600;
}

/* CENTRAL */

.titulo-central {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh; /* o 100vh si quieres que ocupe toda la pantalla */
  text-align: center;
  padding: 0em 1em 0em 1em;
}

.titulo-central h1 {
  font-size: 3rem; /* ajusta según tu diseño */
  margin: 0;
}

.titulo-central h2 {
  margin: 0;
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-size: 3.5rem;
  color: #A42F25;
}

.titulo-central h2 a {
  position: relative;
  color: #A42F25;
  text-decoration: none;
  cursor: pointer;
}

.titulo-central h2 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.2em;
  width: 100%;
  height: 2px;
  background-color: #A42F25;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.titulo-central h2 a:hover::after {
  transform: scaleX(1);
}



/* .slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slideshow img.active {
  opacity: 1;
} */

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between; /* izquierda y derecha */
  align-items: center;
  padding: 20px 40px;
  font-size: 14px;
  color: rgb(26, 26, 26);
  z-index: 10;
}

.footer-left {
  font-size: 0.9em;
  color: rgb(26, 26, 26);
}

.footer-content a {
  color: rgb(26, 26, 26);
  text-decoration: none;
  margin: 0 8px;
  font-size: 1.5em;
}

.footer-content a span {
  color: rgb(26, 26, 26);
}

.footer-content a:hover {
  text-decoration: underline;
}

.icono-footer {
  display: none !important;
}

/* Responsive */
@media (max-width: 768px) {
  .texto-footer {
    display: none !important;
  }
  .icono-footer {
    display: inline !important;
    font-size: 1.8rem;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-left {
    margin-bottom: 10px;
  }
}


/* -- PROYECTOS -- */

/* GALERIA */

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas en escritorio */
  gap: 30px;
  padding: 100px 40px 80px;
}

.galeria a {
  display: block;
  overflow: hidden;
  /* border-radius: 12px; */
  transition: transform 0.3s ease;
}

/* .galeria a:hover {
  transform: scale(1.03);
} */

.galeria img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 2px;
}

/* MINIATURAS */

.proyecto {
  position: relative;
  overflow: hidden;
  display: block;
}

.proyecto img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 0px;
}

.logo-proyecto {
  position: absolute;
  top: 15px;
  right: 15px;
  /* z-index: 3;  */
}

.logo-proyecto img {
  width: 60px;   /* ajusta según tamaño de tu logo */
  height: auto;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.logo-proyecto img:hover {
  opacity: 1; /* al pasar el ratón se ve más fuerte */
}

/* Capa principal overlay */
.proyecto .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* evita interferencias fuera del hover */
}

.proyecto:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

/* Capa roja translúcida */
.proyecto .capa-roja {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a43025a9; /* rojo con baja opacidad */
  z-index: 1;
}

/* Franja inferior con texto */
.proyecto .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F4F1E0;; /* rojo más opaco */
  color: rgb(26, 26, 26);
  z-index: 2;
  padding: 1em;
  text-align: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.proyecto .info h3 {
  margin: 0;
  font-size: 0.8em;
}

.proyecto .info p {
  margin: 0.3em 0 0;
  font-size: 0.7em;
}


/* -- SOBRE MI -- */


.sobre-mi {
  display: flex;
  align-items: flex-start;
  padding: 100px 40px 10px;
  gap: 40px;
}

.sobre-mi .texto {
  flex: 1;
  position: sticky;
  top: 100px; /* se mantiene visible a partir de este punto */
  align-self: flex-start;
}

.sobre-mi .texto h1 {
  font-size: 1.5em;
}

.sobre-mi .texto p {
  font-size: 0.8em;
}

.sobre-mi .imagenes {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sobre-mi .imagenes img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.sobre-mi .imagenes video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.sobre-mi .texto p a {
  text-decoration: none;   /* sin subrayado normal */
  color: inherit;          /* usa el color del texto que tengas */
  transition: all 0.3s ease;
}

.sobre-mi .texto p a:hover {
  text-decoration: underline; /* subraya al pasar */
}

/* --- PROYECTO INDIVIDUAL --- */

.proyecto-detalle {
  display: flex;
  align-items: flex-start;
  padding: 100px 40px 80px;
  gap: 40px;
}

.proyecto-detalle .texto {
  flex: 1;
  position: sticky;
  top: 100px; /* se mantiene visible a partir de este punto */
  align-self: flex-start;
}

.proyecto-detalle .texto h1 {
  font-size: 1.5em;
}

.proyecto-detalle .texto p {
  font-size: 0.8em;
}

.proyecto-detalle .imagenes {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.proyecto-detalle .imagenes img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.proyecto-detalle .imagenes video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px; /* opcional, si quieres igual que tus imágenes */
}

 .enlace-proyecto {
    color: #1a1a1a;               /* negro */
    text-decoration: none;     /* sin subrayado por defecto */
    font-size: 1em;
  }
  .enlace-proyecto:hover {
    text-decoration: underline;/* subraya al pasar el ratón */
  }
  .enlace-proyecto:focus-visible {
    outline: 2px solid;        /* accesible con teclado */
    outline-offset: 2px;
  }

.video-container {
  position: relative;
  width: 100%;
  max-width: 900px; /* ajusta al tamaño que quieras */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px; /* opcional */
  box-shadow: 0 4px 12px rgba(0,0,0,0.2); /* opcional */
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
}

/* -- MEDIA QUERIES -- */


@media (max-width: 768px) {

  header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    z-index: 2;
    justify-content: space-between;
    margin-top: 1em;
  }

  .logo {
    padding-left: 1em;
  }

  a {
    text-decoration: none;
    color: rgb(184, 26, 26);
    font-size: 0.8em;
  }

  .paginas {
    padding-right: 1em;
  }

  .paginas ul {
    list-style: none;
    display: flex;
    gap: 5px;
    width: fit-content;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
  }


  .logo a {
    font-size: 1.2rem;
    color: transparent;
    position: relative;
  }

  .logo a::before {
    content: "MG";
    color: #A42F25; /* el color de tu logo */
    position: absolute;
    left: 0;
    top: 0;
  }



  .galeria {
    grid-template-columns: 1fr;
    padding: 110px 25px 80px;
  }

}

@media (max-width: 1200px) {
  .sobre-mi {
  flex-direction: column;
  }

/* .sobre-mi .foto {
    flex: 1;
    width: 100%;
    text-align: center;
} */

  .sobre-mi .texto {
    position: static;
    top: auto;
  }
}

@media (max-width: 768px) {
  .proyecto-detalle {
    flex-direction: column;
  }

  .proyecto-detalle .texto {
    position: static;
    top: auto;
  }
}

@media (max-width: 500px) {

  .titulo-central h1 {
    font-size: 2rem;
    margin: 0;
  }
}

